/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

:root {
  font-family: 'Open Sans';
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-global-radius: 0;  
  --ifm-color-primary: #0070f3;
  --ifm-color-primary-dark: #0050b3;
  --ifm-color-primary-darker: #003c93;
  --ifm-color-primary-darkest: #002874;
  --ifm-color-primary-light: #4088f6;
  --ifm-color-primary-lighter: #669cf7;
  --ifm-color-primary-lightest: #95b0f8;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #669cf7;
  --ifm-color-primary-dark: #4088f6;
  --ifm-color-primary-darker: #1c74f5;
  --ifm-color-primary-darkest: #0050b3;
  --ifm-color-primary-light: #8cb4f8;
  --ifm-color-primary-lighter: #b1d0f9;
  --ifm-color-primary-lightest: #d6ecfa;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
