name: Archive Docs

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    environment: Production
    env:
      AVAILABLE_STATUS: ${{ vars.AVAILABLE_STATUS }}
      DOCU_NOTION_BLOG_ROOT_PAGE_EN: ${{ vars.DOCU_NOTION_BLOG_ROOT_PAGE_EN }}
      DOCU_NOTION_BLOG_ROOT_PAGE_HANT: ${{ vars.DOCU_NOTION_BLOG_ROOT_PAGE_HANT }}
      DOCU_NOTION_BLOG_ROOT_PAGE_KO: ${{ vars.DOCU_NOTION_BLOG_ROOT_PAGE_KO }}
      DOCU_NOTION_DOCS_ROOT_PAGE_EN: ${{ vars.DOCU_NOTION_DOCS_ROOT_PAGE_EN }}
      DOCU_NOTION_DOCS_ROOT_PAGE_HANT: ${{ vars.DOCU_NOTION_DOCS_ROOT_PAGE_HANT }}
      DOCU_NOTION_DOCS_ROOT_PAGE_KO: ${{ vars.DOCU_NOTION_DOCS_ROOT_PAGE_KO }}
      DOCU_NOTION_INTEGRATION_TOKEN: ${{ vars.DOCU_NOTION_INTEGRATION_TOKEN }}

    steps:
      - name: Check out source code
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install pnpm
        run: curl -f https://get.pnpm.io/v6.js | node - add --global pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Pull latest docs
        run: pnpm run pull

      - name: Commit and push to archive-docs branch
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add docs blog i18n
          if [[ $(git diff --stat --staged) != '' ]]; then
            git commit -m "Archive docs, blog, and i18n directories"
            git push origin HEAD:archive-docs
          fi